<%= render 'shared/header_title', header_title: "", header_sub_title: "Problem / Solutions related to #{@topic.title}" %>
<%= render partial: "shared/meta_data" %>


<!-- Intro Content -->
<div class="row">
  <div class="col-sm-12">
    <p>
      <p>
        <h3>
          <%= @problem.title %>
        </h3>
        <%= @problem.description.html_safe %>
      </p>
      <div class="col-sm-12 text-right">
      <%= render partial: "problems/informations", locals: {datetime: @problem.created_at, user: @problem.user, counter: @problem.solutions.count } %>
    </div>
    </p>
    <hr>
  </div>
</div>

<hr>

<!-- Intro Content -->
<div class="row">
  <div class="col-sm-12">
  <% @problem.solutions.each_with_index do |solution| %>
      <p>
        <p>
          <%= solution.description.try(:html_safe) %>
        </p>
        <div class="col-sm-12 text-right">
        <%= render partial: "problems/informations", locals: {datetime: solution.created_at, user: solution.user } %>
      </div>
      </p>
      <hr>
    <% end %>
  </div>
</div>


          

