<%= render 'shared/header_title', header_title: "", header_sub_title: "Study content" %>

<!-- Start row -->
<div class="row">
  <div class="col-md-12">
    <% @studies.each do |study| %>
      <div class="col-md-4 portfolio-item text-center snm-height-two-half">
        <a href="<%= study_lessions_path(study) %>">
          <% if study.images.last.present? %>
            <%= image_tag study.images.last.data.url(:solution), alt: study.title, class: "snm-image-size-solutions-one" %>
          <% end %>
        </a>
        <strong class="block">
          <%= link_to study.title, study_lessions_path(study) %>
        </strong>
        <p>
          <%= study.description.truncate(100).try(:html_safe) %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
<!-- /.row -->