<%= render 'shared/header_title', header_title: "", header_sub_title: "Educational / Professional / Technologies All about me!" %>
<%= render "shared/meta_data" %>
<!-- Intro Content -->
<div class="row">
  <div class="col-sm-7">
    <h3>Employment</h3>
    <% @employments.each_with_index do |employment, index| %>
      <strong class="block">
      <%= employment.role %> - <%= employment.name %> (<%= datetimeformat(employment.get_started_at) %> - <%= datetimeformat(employment.get_end_at) %>)
      </strong>
      <%= employment.description.try(:html_safe) %>
      <% if @employments.count > index + 1 %>
        <hr>
      <% end %>
    <% end %>
    <hr>
    <h3>Education</h3>
    <% @educations.each_with_index do |education, index| %>
      <strong class="block">
        <%= education.cource %> - <%= education.college %>(<%= datetimeformat(education.get_started_at) %> - <%= datetimeformat(education.get_completed_at) %>)
      </strong>
      <%= education.description.try(:html_safe) %>
      <% if @educations.count > index + 1 %>
        <hr>
      <% end %>
    <% end %>
    </div>


  <div class="col-sm-5">
    <% @technology_types.each do |technology_type| %>
      <h3><%= technology_type.title %></h3>
      <div>
        <% if technology_type.technologies.present? %>
          <%= technology_type.technologies.map{|technology| "#{technology.name} - (Experience: #{technology
          .experience})"}.join("<br>").html_safe %>
        <% else %>
          ......
        <% end %>
      </div>
    <% end %>
    <% if @user.resume_pdf.present? %>
      <h3>My Resume</h3>
      <div>
        <%= link_to "Download Resume", @user.resume_pdf.try(:url) %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-12">
    <hr>
    <strong class="block">Contact Informations</strong>
    <hr>
    <div class="col-sm-6">
      <span><strong>Name: </strong></span> Sandeep Maurya
      <hr>
      <span><strong>Contact: </strong></span> +91 7666760715
      <hr>
      <span><strong>Github: </strong></span> <a href="https://www.github.com/snmmaurya">snmmaurya</a>
      <hr>
    </div>

    <div class="col-sm-6">
      <span><strong>Email: </strong></span> snmmaurya@gmail.com / snmspace@gmail.com
      <hr>
      <span><strong>Website: </strong></span> <a href="http://www.snmmaurya.com">http://www.snmmaurya.com</a>
      <hr>
      <span><strong>Twitter: </strong></span> <a href="https://www.twitter.com/snmmaurya">snmmaurya</a>
      <hr>
    </div>
  </div>
</div>